.bodyCardTitle1{
    color: rgb(0, 0, 255);
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.Title-menu_detalle{
    color: blue;
    margin: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: antiquewhite;
  }

  .bodyCardParagraph {
    padding-top: 20px;
  }