.titleHeaderCarousel{
    font-size: 2.3rem;
    font-family: 'Holtwood One SC', serif;
    font-weight: 600;
    color: blue;
    -webkit-text-fill-color: var(--color-4);
    -webkit-text-stroke: 3px var(--color-1a);
    text-align: start;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px !important;
}

.subtitleHeaderCarousel{
    font-size: 1.8rem;    
    font-family: 'Holtwood One SC', serif;
    color: blue;
    -webkit-text-fill-color: var(--color-4);
    -webkit-text-stroke: 2px var(--color-3a);
    text-align: start;
    text-transform: uppercase;
}

.carouselEspace{
    margin-top: 124px;
}

.titleHeaderCarousel, .subtitleHeaderCarousel {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 70% de opacidad */
    padding: 5px; /* Ajusta el espaciado interno según sea necesario */
  }

  @media (max-width: 990px) {

    .titleHeaderCarousel{
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
        

    }

    .subtitleHeaderCarousel{
        font-size: 0.8rem;  
    }

}