.location-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    
  }
  
  .map, .contact-info {
    width: 48%; /* O el ancho deseado */
  }

  @media (max-width: 990px) {

    .location-container{
      flex-direction: column;
  }
  
  .map {
      flex: 100%;
      width: 100%; 
  }

  .contact-info{
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 100%;
    width: 100%;
    text-align: center;
}
  
  }
