.footer{
    display: flex;
    
}

.container_left {
    flex: 30%;
    background-color: red;

    
}

.container_right{
    flex: 70%;
    background-color: green;

}

.text-final{
    flex: 100%;
  text-align: center;
  background-color: #0F71F2;
}

.list-group-item {
    margin: 0;
}

.text-white {
    color: white;
}

.bi {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.bi:hover {
    color: rgb(190, 175, 175);
}

a {
    font-size: 1rem;
    font-style: normal;    
}

.list-group {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;

    justify-content: center;

}

.legal {
    white-space: pre-line;
    padding-top: 10px;
}.list-group-item {
    margin: 0;
}

.text-white {
    color: white;
}

.bi {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.bi:hover {
    color: rgb(190, 175, 175);
}

a {
    font-size: 1rem;
    font-style: normal;    
}

.list-group {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.legal {
    white-space: pre-line;
    padding-top: 10px;
}

@media (max-width: 990px) {
    a {
        font-size: 0.8rem;
        
    }

    .legal {
        font-size: 1rem;
    }

.footer{
    flex-direction: column;
}

.container_left .container_right{
    flex: 100%;
}

}